#librarySecretLadderDrop {
    visibility: hidden;
}
#librarySecretLadder {
    visibility: hidden;
}
#pianoRoomAnchor {
    visibility: hidden;
}
#musicianJumpedDown {
    visibility: hidden;
}
#musicianRun {
    visibility: hidden;
}
#musicianKill {
    visibility: hidden;
}