html {
    background-color: rgba(74, 74, 74, 0.368);
}
#dogThanks {
    visibility: hidden;
}
#ending1Anchor {
    visibility: hidden;
}

#gunImg{
    visibility: hidden;
}
#insideGunDrawer {
    visibility: hidden;
}
#drawerButton2 {
    visibility: hidden;
}
#documenOnTheDesk {
    visibility: hidden;
}

#hiddenLadderToUp {
    visibility: hidden;
}
#bedRoomAnchorButton {
    visibility: hidden;
}
#bedRoomAnchor {
    visibility: hidden;
}